* {
    margin: 0;
    padding: 0;
    font: 20px Bebas, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background: #55ddff;
}

header {
    height: 40px;
    text-align: center;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

main {
    max-width: 90%;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 30px;
}

nav {
    z-index: 100;
    position: relative;
    font-size: 14px;
    height: 40px;
}

nav>div {
    user-select: none;
    vertical-align: top;
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(63, 118, 153);
    border: 3px solid rgb(56, 108, 140);
    font-weight: bold;
    color: white;
    width: 150px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: height 0.8s;
}

nav>div:hover {
	background-color: rgb(93, 148, 183);
    border: 3px solid rgb(16, 68, 100);
}

nav>div:last-child {
    float: right;
}

.buttonPressed {
    height: auto;
}

nav>div>p{
    line-height: 0px;
}

nav>div>ul>li {
    margin: 5px auto;
    height: 60px;
    line-height: 60px;
}

nav>div>ul>li:hover {
    background-color: rgb(63, 118, 153);
}

#timer {
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(63, 118, 153);
    border: 3px solid rgb(56, 108, 140);
    border-radius: 4px;
    display: inline-block;
}

.timerHidden {
    visibility: hidden;
}

.timerVisible {
    visibility: visible;
}

.gameField {
    z-index: 1;
    box-sizing: border-box;
    border: 3px solid rgb(56, 108, 140);
    border-radius: 3px;
    background: #bbdde3;
    width: 90%;
    position: absolute;
    height: calc(100% - 120px);
    margin: 0 auto;
    top: 90px;
    overflow: auto;
}

.gameField>h2,p {
    margin: 23px 0;
    text-align: center;
}

ol {
    padding: 0 30px;
}

ol>li {
    margin: 18px 10px;
}

.congr {
    border: 3px solid rgb(56, 108, 140);
    border-radius: 5px;
    margin: 150px auto;
    width: 500px;
    background-color: rgb(63, 118, 153);
    text-align: center;
    transition: opacity 5s linear;
}

.congrHidden {
    opacity: 0;
}

.congrText {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

td {
    padding: 0;
    position: relative;
    border: 3px solid rgb(56, 108, 140);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flipCard {
    transform: rotate3d(0, 1, 0, 180deg);
}

.hidenCard {
    transform: rotate3d(0, 1, 0, 90deg);
}

.invisibleCard {
    visibility: hidden;
}

.front {
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: contain;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scaleX(-1) translateY(-100%) translateZ(-1px);
}

footer {
    position: absolute;
    height: 30px;
    left: 0;
    bottom: 0;
    min-width: 100%;
    text-align: center;
    line-height: 30px;
}
